<div *blockUI="">
<div class="ui-g title mt5">
	{{ title }}	
</div>
<HR />
<p-messages [(value)]="msgs"></p-messages>
<form (submit)="save()" #form="ngForm" >
	<div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
	  <div class="ui-grid-row">
	                    <div class="ui-grid-col-2 flabel">
	                        Name *:
	                    </div>
	                    <div class="ui-grid-col-4">
	                        <input pInputText type="text" placeholder="Name" name="name" [(ngModel)] ="master.name" required/>
	                    </div>
	                    <div class="ui-grid-col-6">
	                        <p-message severity="error" text="Name is required" *ngIf="false"></p-message>
	                    </div>
	                </div>
	                <div class="ui-grid-row">
	                    <div class="ui-grid-col-2 flabel">
	                        Code *:
	                    </div>
	                    <div class="ui-grid-col-4">
	                        <input pInputText type="text" name="code" pKeyFilter="alphanum" [(ngModel)] ="master.code" placeholder="Code" required/>
	                    </div>
	                    <div class="ui-grid-col-6">
	                        <p-message severity="error" text="Code is required" *ngIf="false"></p-message>
	                    </div>
	                </div>
	            </div>

	<HR />
	<div clas="ui-g">
		<button pButton type="submit" label="Save {{masterType.title}}" [disabled]="form.invalid || loading" class="ui-button-raised ui-button-success mr10"></button>
		<button pButton type="button" label="Cancel" (click)="navigate('gmaster')" class="ui-button-raised ui-button-secondary"></button>
	</div>
</form>
</div>