<div *blockUI="">
<div class="ui-g title mt5">
	{{ title }}	
</div>
<HR />
<p-messages [(value)]="msgs"></p-messages>
<form (submit)="save(form)" #form="ngForm" >
	<div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
		<div class="ui-grid-row">
                <div class="ui-grid-col-2 flabel">
                    Current Password <span class="required">*</span>:
                </div>
                <div class="ui-grid-col-4">
                    <input pInputText [type]="showPasswordState ? 'text' : 'password'" placeholder="Current Password" name="cpassword" [(ngModel)] ="input.cpassword" required/>
                </div>
                <div class="ui-grid-col-2">
                    <p-toggleButton onLabel="Show Password" offLabel="Hide Password" onIcon="pi pi-check" offIcon="pi pi-times" [style]="{'width':'150px'}" (click) = "showPasswordState = !showPasswordState"></p-toggleButton>

                </div>
                
            </div>

	  	<div class="ui-grid-row">
                <div class="ui-grid-col-2 flabel">
                    New Password <span class="required">*</span>:
                </div>
                <div class="ui-grid-col-4">
                    <input pInputText [type]="showPasswordState ? 'text' : 'password'" placeholder="New Password" name="password" [(ngModel)] ="input.password" required/>
                </div>
                
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-2 flabel">
                    Re Type Password <span class="required">*</span>:
                </div>
                <div class="ui-grid-col-4">
                    <input pInputText [type]="showPasswordState ? 'text' : 'password'" name="npassword" [(ngModel)] ="input.npassword" placeholder="Re Type Password" required/>
                </div>
                
            </div>
        </div>

	<HR />
	<div clas="ui-g">
		<button pButton type="submit" label="Change Password" [disabled]="form.invalid || loading || input.password != input.npassword" class="ui-button-raised ui-button-success mr10"></button>
	</div>
</form>
</div>